body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
  margin: 0;
}

.pink-background {
  background-color: #fff0ed;
}

.light-grey-background {
  background-color: #f7f7f7;
}

.pink-light-grey-background_spacing {
  padding: 0 0 3rem 0;
}

.nitro-alignment {
  padding: 0.7rem 1rem;
}

.nitro-spacing {
  display: inline-block;
}

.nitro-font {
  font-size: 3.05rem;
  font-weight: 300;
  color: #393939;
  text-decoration: none;
}

.coffee-bean-logo_style {
  background-image: url("../assets/coffee-beans-logo-and-footer.svg");
  width: 3.125rem;
  height: 3.125rem;
  display: inline-block;
}

.nav-list-style_type {
  list-style-type: none;
}

.nav-align > li {
  display: inline-block;
  font-size: 1.3125rem;
  font-weight: 400;
  margin-right: 3.5rem;
}

.nav-align > li > a {
  text-decoration: none;
  color: #393939;
}

.nav-align-parent_align {
  display: inline-block;
}

.shop-now_color {
  color: #5bacc3 !important;
}

.sub-navigation-link_alignment {
  padding: 1.2rem;
  margin: 0;
  width: 100%;
}

.sub-navigation-link_alignment > li {
  display: inline-block;
}
