.product-heading-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}

button {
  color: #ffffff;
  background-color: #5bacc3;
  border: none;
  font-size: 1.3125rem;
  font-weight: 400;
  padding: 1rem 1.8rem;
}

.button-center {
  text-align: center;
}

.hero-coffee-text-image_page > .hero-coffee-text-image {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.hero-coffee-text-image-a {
  width: 50rem;
  text-align: left;
}

.hero-coffee-text-image_page {
  text-align: center;
}

.hero-coffee-description_width {
  width: 20rem;
}

.our-products {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 2.5rem 0 2.5rem;
}

.our-products-card {
  width: 20.625rem;
  height: 27.5rem;
  padding: 1.75rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.0313rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.our-products-card_holder > .our-products-card {
  display: inline-block;
  margin: 0 2.4rem 3rem;
}

.our-products-card_holder {
  text-align: center;
}

.our-products-image_height {
  height: 17.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.our-products-title_font {
  font-size: 2.0625rem;
  font-weight: 300;
}

.our-products-price_font {
  font-size: 2.0625rem;
  font-weight: 400;
  color: #5bacc3;
}

.discount-banner {
  background-color: #393939;
  color: #ffffff;
  margin: 12rem;
  text-align: center;
}

.discount-banner_text {
  font-size: 2.8125rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 1.8rem;
}

.footer-paragraph_font {
  font-size: 1.125rem;
  font-weight: 400;
}

.icon_size {
  width: 2.5rem;
}

footer > div {
  display: inline-block;
  margin: 2rem -5rem 2rem 14rem;
}
