.heading-1 {
  font-size: 3.75rem;
  font-weight: 300;
}

button {
  color: #ffffff;
  background-color: #5bacc3;
  border: none;
  font-size: 1.3125rem;
  font-weight: 400;
  padding: 1rem 1.8rem;
}

.our-products {
  font-size: 3.75rem;
  font-weight: 300;
}

.our-products-card {
  width: 20.625rem;
  height: 27.5rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.0313rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
}

.our-products-card_holder > .our-products-card {
  display: inline-block;
  margin: 0 2.4rem 3rem;
}

.our-products-card_holder {
  text-align: center;
}

.our-products-image_height {
  height: 17.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.our-products-title_font {
  font-size: 2.0625rem;
  font-weight: 300;
}

.our-products-price_font {
  font-size: 2.0625rem;
  font-weight: 400;
  color: #5bacc3;
}

.discount-banner {
  width: 83%;
  background-color: #393939;
  color: #ffffff;
}

.discount-banner_text {
  font-size: 2.8125rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.footer-paragraph_font {
  font-size: 1.125rem;
  font-weight: 400;
}

.icon_size {
  width: 3.125rem;
}
